<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/1_fd9175f4-b01c-7404-3725-7dcd9fb733c9.css">
    </head>
    <body>
        <div class="menupanel">
            <header>
                <h2>まずは通話にBOTを参加させましょう！</h2>
            </header>
            <main>
                <div>
                    <fieldset>
                        <legend>検索するIDのタイプを選択しよう！</legend>
                        <div>
                            <input type="radio" name="id_type" id="choice1" value="user_id" />
                            <label for="choice1">ユーザーID</label>
                            <input type="radio" name="id_type" id="choice2" value="conference_id" />
                            <label for="choice2">グループ通話ID</label>
                            <input type="radio" name="id_type" id="choice3" value="post_id" />
                            <label for="choice3">通話投稿ID</label>
                        </div>
                        <div id="searchButton">
                            <button type="submit">検索</button>
                        </div>
                    </fieldset>
                </div>
            </main>
        </div>
    </body>
</html>